*{
	margin:0;
	padding:0;
}
.root{
	scroll-behavior: smooth;
}
body{
	font-family: 'Poppins', sans-serif;
	background:#87CEEB;
}
.contenedor{
	width:90%;
	max-width:1200px;
	overflow: hidden;
	margin:auto;
	padding:60px 0;
}
header{
	height:100vh;
	 background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%),url(..IMAGENES/lafray.png);
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-attachment:fixed;
	 background-position: center;
}
.HEAD{
	padding:0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color:#fff;
}
.MENU{
	position: fixed;
	top: 30px;
	right: 30px;
	background: #fff;
	width: 40px;
	height:40px;
	cursor: pointer;
	border-radius:10px;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
}
.navegacion{
	position: fixed;
	top: 0;
	right: 0;
	width: 30vw;
	height: 100%;
	background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	transition: transform .3s ease-in-out;
	transform: translate(110%);
}

/*header:hover .navegacion{
	transform: translate(110%);
}*/

.spread{
	transform: translate(0);
}
.navegacion a{
	color:#fff;
	text-decoration: none;
}
.TITULO{
	font-size: 60px;
	margin-bottom: 15px;
}
.copy{
	font-weight: 300;
	font-size: 25px;
}
/*NOSOTROS*/
.SUBTITULO{
	text-align:center;
	font-weight: 300;
	color:#fff;
	margin-bottom: 40px;
	font-size:40px; 
}
.SUBTITULO1{
	font-weight: 300;
	color:#fff;
	margin-bottom: 40px;
	font-size:40px; 
	margin-left: 450px;
}
.NOSOTROS-CONTENEDOR{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}
.pago img{
	width: 40%;
}
.checklist-nosotros{
	width: 45%;
}
.informacion{
	margin-bottom: 20px;
	float: right;
}
.cole{
 	width: 550px;
 	left: 600px;
 	top: 740px;
 	position: absolute;
}
.US{
	margin-bottom: 7px;
	color: #fff;
 }
 .parrafo{
 	width: 550px;
 	position: absolute;
 	top: 1300px;
 	left: 600px;
 }
 .gg{
 	width: 550px;
 	margin-top: 900px;
 	background-image: linear-gradient(60deg, #64b3f4 0%, #c2e59c 100%);
 	margin-left: 20px;
 }
 .mision{
 	background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
 	width: 550px;
 	margin-top: -910px;
 	margin-left: 700px;
 }
 .valores{
 	background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
 	width: 550px;
 	margin-top: -25px;
 	margin-left: 700px;
 }
 .vision{
 	background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
 	width: 550px;
 	margin-top: -50px;
 	margin-left: 700px;
 }
.NUMBER{
	display: inline-block;
	background-image: linear-gradient(to top, #37ecba 0%, #72afd3 100%);
	width: 30px;
	height: 30px;
	color: #fff;
	text-align: center;
	border-radius: 50%;
	font-weight: 700;
	line-height: 30px;
	margin-right: 5px;
}
.gallery{
	background-image: linear-gradient(to right, #74ebd5 0%, #9face6 100%);
}
.SLIDER{
	width:100%;
	margin:auto;
	height:800px;
	border-radius:50px; 
	overflow: hidden;
}
.SLIDER ul{
	padding:0;
	display:flex;
	width:600%;
	animation:cambio 10s infinite alternate;
	height:800px;
}
.SLIDER li{
	list-style: none;
	width:100%;
	height:350px; 
}
.SLIDER img{
	width:100%;
	height:600px;
}
@keyframes cambio{
	0%{margin-left:0;}
	20%{margin-left:0;}

	25%{margin-left:-100%;}
	45%{margin-left:-100%;}

	50%{margin-left:-200%;}
	70%{margin-left:-200%;}

	75%{margin-left:-300%;}
	75%{margin-left:-300%;}

	80%{margin-left:-400%;}
	80%{margin-left:-400%;}

	85%{margin-left:-500%;}
	85%{margin-left:-500%;}
}
.experts{
	display: flex;
	justify-content:space-between;
	align-items: center;
	flex-wrap: wrap;
}
.cont-expertos{
	width: 30%;
	text-align: center;
	margin-bottom: 20px;
}
.cont-expertos img{
	width: 80%;
	display:block;
	margin: auto;
}
.n-expertos{
	display: inline-block;
	margin-top: 20px;
	width: 100%;
	font-weight:400;
}
.footer{
	background: #9F8AD0;
	padding-bottom: 0.1px;
}
.footer-contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 60px;
	padding-bottom: 40px;
}
.contact-us{
	width: 40%;
	color: #fff;
}
.ESCUELA{
	font-weight: 500px
	font-size:40px;
}
.ESCUELA+p{
	font-weight: 500;
}
.SOCIAL-MEDIA{
	width: 50%;
	display: flex;
	justify-content: flex-end;
}
.icono-de-face{
	display: inline-block;
	margin-left: 20px;
	width: 60px;
	height: 60px;
	border:1px solid #fff;
	border-radius: 50%;
	text-align: center;
	color: #fff;
}
.icono-de-face:hover{
	background:#fff;
	color: #764BA2;
}
.icono-de-face i{
	font-size: 30px;
	line-height: 60px;
}

.line{
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	height: 2px;
	background:#fff;
	margin-bottom: 60px;
}
.cash{
	margin-top: 50px;
	position: absolute;
	left:55px;

}
